.register-container{
    display: flex;
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.register-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;

}

.register-button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(231, 156, 45);
    cursor: pointer;
    margin-right: 25px;
    width: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
}

.register-button:hover{
    background-color: rgba(201, 147, 53);
}